body {
  font-size: 12px;
  line-height: 1.5em;
  font-family: Andale Mono, monospace;
  color: #1B2457;
}

span.highlight {
  background-color : yellow;
}

a {
  color: #1B2457;
}

#test {
    color: black;
}

.image {
    float: left;
    width: 30%;
}

.img-text {
    margin-left: 305px;
    margin-right: 30px;
}
