body {
  font-size: 12px;
  line-height: 1.5em;
  font-family: Andale Mono, monospace;
  color: #1B2457;
}

span.highlight {
  background-color : yellow;
}

a {
  color: #1B2457;

}

.parallax {
  /* The image used */
  background-image: url("../images/header.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


nav {
  background-color: #1B2457;
  height: 20px;
}

header {
  height: 100px;
}

#test {
    color: black;
}

.image {
    float: left;
    width: 30%;
}

.see-through {
  background: transparent;
}

.img-text {
    margin-left: 305px;
    margin-right: 30px;
}
