body {
  font-size: 12px;
  line-height: 1.5em;
  font-family: Andale Mono, monospace;
  color: #ffffff;
  opacity: 87%;
}

span.highlight {
  background-color : yellow;
}

a {
  opacity:  85%;
  color:  #D6EEEA;

}

p {
  opacity:  87%;
}

footer {
  font-size: 8px;
  text-align: right;
}

header.intro-pic {
  background-image: url("../images/header.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-position: center;
  background-size: cover;

}

h1.past-picture {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 20px;
}

.intro_parallax {
  /* The image used */
  background-image: url("../images/header.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax_text {
  text-align: center;
  font-size: 36px;
  color: #ffffff;
  margin: auto;
  position: relative;
}

h1.intro-banner {
   position: relative;
   top: -475px;
   left:  60px;
 }

nav {
  background-color: transparent;
  height: 30px;
  margin-bottom: -30px;
}

h1 {
  opacity: 90%;
}


li.intro {
  color : #ffffff;
  text-align: right;
}

#test {
    color: black;
}

.image {
    float: left;
    width: 30%;
}

.see-through {
  background: transparent;
}

.img-text {
    margin-left: 255px;
    margin-right: 30px;
    opacity: 60%;
}
